body{
    font-family: Lato;
    font-size: 20px;
    margin: 0;
    background-color: rgb(197, 197, 197);
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 100%;
}

li{
    list-style: none;
}

img{
    margin: 20px;

    border-radius: 15px;
    box-shadow: 8px 8px;
}

.item{
    padding: 10px;

    border-radius: 15px;
    text-decoration: none;
    color: black;
    font-size: 25px;
    background-color: rgb(197, 197, 197);
    
    transition: transform 0.3s ease, box-shadow 0.3s ease;  
}

.item:hover{
    box-shadow: 0 8px rgba(0,0,0,0.2);
}

#sidebar{
    position: fixed;
    top: 0;

    height: 100%;
    width: 25%;

    border-radius: 0px 15px 15px 0px;
    background-color: gray;
}

#contents{
    margin-left: 30%;
    margin-right: 50px;
    margin-top: 50px;
}

#sobre_mi div{
    display: flex;
    justify-content: space-around;

    p{
        background-color: gray;
        padding: 10px;
        border-radius: 10px;
    }
}

@font-face {
    font-family: Lato;
    src: url(fonts/Lato/Lato-Regular.ttf);
}