body{
    font-family: Lato;
    margin: 0;
}

li{
    list-style: none;
}

#cabecera{
    display:flex;
    gap: 120px;
    justify-content: flex-start;

    padding-left: 50px;

    border-bottom: solid darkslategray 3px;
    font-size: 32px;
}

#menu{
    display: flex;
    justify-content: space-around;
    gap: 20px;

    width: 100%;

    border: solid black 2px;
}

@font-face {
    font-family: Lato;
    src: url(fonts/Lato/Lato-Regular.ttf);
}